:root {
  --font-family: "Inter", sans-serif;
  --second-family: "ITC Avant Garde Gothic Std", sans-serif;
  --basic-bacground: #f5f5f5;
  --yellow: #f0e714;
  --hero-title: #f3f4f6;
  --white: #ffffff;
  --gray: #b9b9b9;
  --bacground-yellow-button: rgba(240, 231, 20, 0.2);
  --orange: #f37825;
  --bacground-footer: #101c26;
  --title-color: #24272e;
  --subtitle: #555c68;
  --black: #000000;
}

ul,
li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid green;
}

/* HEADER */
.header {
  background-color: var(--bacground-footer);
  display: flex;
}

.header__box{
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}
/* logo */

.header-logo__box{
  display: flex;
  align-items: center;
}

.header-logo__rise {
  width: 64.33px;
  height: 29px;
  margin-bottom: 9.22px;
}

.header-logo {
  width: 28.3px;
  height: 38px;
}

.header-logo__creative {
  width: 83px;
  height: 18px;
}

/* navigation */

.header-navigation__list{
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 412px;
}

.header-navigation__link{
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
}

.header-navigation__link:hover,
.header-navigation__link:focus{
  color: var(--white) ;
}

/* header button */

.header-button__list{
  display: flex;
  align-items: center;
}

.header-button__item{
  margin-right: 16px;
}

.header-button__item:last-child{
  margin-right: 0;
}

.header-button{
  border-radius: 100px;
  height: 50px;
  width: 117px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.color-transperent{
  border: 2px solid var(--gray);
  background-color: transparent;
  color: var(--gray);
  cursor: pointer;
}

.color-transperent:hover,
.color-transperent:focus{
  color: var(--white);
  border-color: var(--white);  
  background-color: var(--black);
}

.color-yellow{
  border:none;
  background-color: var(--yellow);
  color: var(--bacground-footer);
  cursor: pointer;
}

.color-yellow:hover,
.color-yellow:focus{
  color: var(--white);
  border: 2px solid var(--gray);
  background-color: rgba(255, 255, 255, 0.185);
}

/* MAIN */
/* hero */

.hero{
  background-color: var(--bacground-footer);
}

.hero__title{
  margin-bottom: 24px;

  width: 534px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: var(--hero-title);
}

.hero__container{
  display: flex;
  margin-bottom: 40px;
}

.hero__subtitle{
  width: 427px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: var(--hero-title);
}

.hero__star{
  margin-left: 10px;
  width: 38px;
  height: 38px;
}

.hero__button{
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-right: 36px;
  padding-bottom: 18px;
  padding-left: 36px;
  border-radius: 100px;
  border-color: transparent;
  background-color: var(--yellow);
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--title-color);
  cursor: pointer;
}

.hero__button:hover .hero__arrow,
.hero__button:focus .hero__arrow{
  color: var(--white);
  fill: var(--white);
}

.hero__button:hover,
.hero__button:focus{
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.185);
  border: 3px solid var(--gray);

}

.hero__arrow{
  margin-left: 10px;
  width: 24px;
  height: 16px;
  fill: var(--title-color);
}



/* about */
