:root {
  --font-family: "Inter", sans-serif;
  --second-family: "League Spartan", sans-serif;
  --basic-bacground: #f5f5f5;
  --yellow: #f0e714;
  --hero-title: #f3f4f6;
  --white: #ffffff;
  --gray: #b9b9b9;
  --bacground-yellow-button: rgba(240, 231, 20, 0.2);
  --orange: #f37825;
  --bacground-footer: #101c26;
  --title-color: #24272e;
  --subtitle: #555c68;
  --black: #000000;
}

body{
  background-color: var(--basic-bacground);
}

ul,
li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1310px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid green;
}

/* HEADER */
.header {
  background-color: var(--bacground-footer);
  display: flex;
}

.header__box {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}
/* logo */

.header-logo__box {
  display: flex;
  align-items: center;
}

.header-logo__rise {
  width: 64.33px;
  height: 29px;
  margin-bottom: 9.22px;
}

.header-logo {
  width: 28.3px;
  height: 38px;
}

.header-logo__creative {
  width: 83px;
  height: 18px;
}

/* navigation */

.header-navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 412px;
}

.header-navigation__link {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
}

.header-navigation__link:hover,
.header-navigation__link:focus {
  color: var(--white);
}

/* header button */

.header-button__list {
  display: flex;
  align-items: center;
}

.header-button__item {
  margin-right: 16px;
}

.header-button__item:last-child {
  margin-right: 0;
}

.header-button {
  border-radius: 100px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.color-transperent {
  padding: 13px 32px;
  min-width: 117px;
  border: 2px solid var(--gray);
  background-color: transparent;
  color: var(--gray);
  cursor: pointer;
}

.color-transperent:hover,
.color-transperent:focus {
  color: var(--white);
  border-color: var(--white);
  background-color: var(--black);
}

.color-yellow {
  padding: 13px 39px;
  min-width: 138px;
  border: none;
  background-color: var(--yellow);
  color: var(--bacground-footer);
  cursor: pointer;
}

.color-yellow:hover,
.color-yellow:focus {
  color: var(--white);
  border: 2px solid var(--gray);
  background-color: rgba(255, 255, 255, 0.185);
}

/* MAIN */
/* hero */

.hero {
  background-color: var(--bacground-footer);
}

.hero-container{
  padding-top: 44px;
  padding-bottom: 67px;
}

.hero__important{
  display: flex;
}

.hero-box{
  margin-top: 57px;
}

.hero__title {
  margin-bottom: 24px;

  width: 534px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: var(--hero-title);
}

.hero__container {
  display: flex;
  margin-bottom: 40px;
}

.hero__subtitle {
  width: 382px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: var(--hero-title);
}

.hero__star {
  margin-left: 20px;
  width: 38px;
  height: 38px;
}

.hero__box {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.hero__button {
  display: flex;
  align-items: center;
  margin-right: 23px;
  padding: 18px 36px;
  min-width: 197px;
  justify-content: center;

  
  border-radius: 100px;
  border: 0px solid transparent;
  background-color: var(--yellow);
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--title-color);
  cursor: pointer;
}

.hero__button:hover .hero__arrow,
.hero__button:focus .hero__arrow {
  color: var(--white);
  fill: var(--white);
}

.hero__button:hover,
.hero__button:focus {
  padding: 15px 33px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.185);
  border: 3px solid var(--gray);
}

.hero__arrow {
  margin-left: 10px;
  width: 24px;
  height: 16px;
  fill: var(--title-color);
}

.hero-box__link {
  display: flex;
  align-items: center;
}

.hero-box__play {
  width: 30px;
  height: 30px;
}

.hero-box__subtitle {
  margin-top: 5px;
  margin-left: 12px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

/* privileges */

.privileges__list {
  display: flex;
  justify-content: space-between;
  width: 376px;
}

.privileges__text {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 44px;
  line-height: 127%;
  color: var(--yellow);
}

.privileges__span{
  margin-top: 4px;
}

.pluse{
  font-size: 48px;
}

.percentage{
  font-size: 28px;
}

.privileges__subtitle{
  font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
line-height: 175%;
color: var(--white);
}

.hero__image{
  margin-left: 74px;
}

/* company */

.header-company{
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-compny{
  height: 50px;
}
.google{
  width: 101px;
}

.dropbox{
  width: 166px;
}

.amazon{
  width: 114.84px;
}

.atlassian{
  width: 187.92px;
}

.hubspot{
  width: 123.43px;
}

/* about */

.about{
  display: flex;
  padding-top: 140px;
  padding-bottom: 70px;
}

.about__container{
  margin-top: 53.5px;
  margin-bottom: 53.5px;
  margin-left: 30px;
}

.about__above{
  display: inline-flex;
  padding: 10px 15px;
  margin-bottom: 24px;


  border-radius: 100px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--title-color);
  min-width: 115px;
  background-color: var(--bacground-yellow-button);
}

.about__title{
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 44px;
  line-height: 127%;
  color: var(--title-color);
}

.about__subtitle{
  margin-bottom: 40px;
  width: 508px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--subtitle);
}

.about__link{
  display: inline-flex;
  align-items: center;
  padding: 14px 34px;

  border-radius: 100px;
  background-color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  color: var(--yellow);
}

.about__arrow{
  margin-left: 6px;
  fill: var(--yellow);
  width: 15px;
  height: 11px;
}

/* choose */

.choose{
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.choose__above{
  display: inline-flex;
  padding: 10px 16px;
  margin-bottom: 24px;
  border-radius: 100px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  min-width: 169px;
  text-transform: uppercase;
  color: var(--title-color);
  background-color: var(--bacground-yellow-button);
}

.choose__title{
  margin-bottom: 16px;
  width: 490px;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 44px;
  line-height: 127%;
  color: var(--title-color);
}

.choose__subtitle{
  width: 477px;
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--subtitle);
}

.choose__item{
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.choose__item:last-child{
  margin-bottom: 0;
}

.choose__icon{
  margin-right: 24px;
  padding: 18px;
  border-radius: 50%;
  background-color: var(--bacground-footer);
  width: 68px;
  height: 68px;
}

.choose__title-container{
  width: 302px;
}

.choose__title-container-another{
  width: 357px;
}

.choose__item-title{
  margin-bottom: 2px;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: var(--title-color);
  
}

.choose__item-subtitle{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--subtitle);
}

/* searvices */

.searvices{
  padding-top: 70px;
}

.searvices__container{
  width: 1310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searvices__span{
  display: inline-flex;
  margin-bottom: 24px;

  min-width: 158px;
  border-radius: 100px;
  padding: 10px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--title-color);
  background-color: var(--bacground-yellow-button);
}

.searvices__title{
  text-align: center;
  width: 475px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 44px;
  line-height: 127%;
  color: var(--title-color);
}

